@import "tailwindcss";

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, -apple-system;
    font-size: 16px;
    line-height: 1.6;
  }
}

/* Marquee */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
